<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class = "ticker">
      <div class=" title"> <h5> <a href = '/index' > Stock Prediction: </a></h5></div>
      <div class="scroll-text ">
        <marquee>
          <p>
            A valuable tool for investors, a tool which can help you to invest in the stock market. 
            It can help you make more informed decisions about which stock to buy, sell, or hold.
            It analyzes historical finanical data which helps to predict the stock price. It's a 
            great tool for all (beginners or stock market professionals).
          </p>
        </marquee>
      </div>
    </div>
    {% block body %}
    {% endblock %}


    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
